<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Student Registration</h2>
<form method="post">
    {% csrf_token %}
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    Roll No: <input type="text" name="roll_no"><br>
    Branch: <input type="text" name="branch"><br>
    <button type="submit">Register</button>
</form>

</body>
</html>